// Default Blue
$theme_color_default: #0860F2;
$theme_w_bg_default_1: #242424;
$theme_w_bg_default_2: #1e40af;

// Blue
$theme_color_blue: #2563eb;
$theme_w_bg_blue_1: #242424;
$theme_w_bg_blue_2: #1d4ed8;
// Purple
$theme_color_purple: #9A57A3;
$theme_w_bg_purple_1: #242424;
$theme_w_bg_purple_2: #6d28d9;
// pink
$theme_color_pink: #E55E9C;
$theme_w_bg_pink_1: #242424;
$theme_w_bg_pink_2: #be185d;
// red
$theme_color_red: #dc2626;
$theme_w_bg_red_1: #242424;
$theme_w_bg_red_2: #991b1b;

// orange
$theme_color_orange: #E9873A;
$theme_w_bg_orange_1: #242424;
$theme_w_bg_orange_2: #b45309;

// yellow
$theme_color_yellow: #F3BA4B;
$theme_w_bg_yellow_1: #242424;
$theme_w_bg_yellow_2: #987306;

// green
$theme_color_green: #79B757;
$theme_w_bg_green_1: #242424;
$theme_w_bg_green_2: #065f46;

// grey
$theme_color_grey: #8C8C8C;
$theme_w_bg_grey_1: #242424;
$theme_w_bg_grey_2: #1f2937;
