// Default Blue
$theme_color_default: #1D4ED8;
$theme_w_bg_default_1: #222222;
$theme_w_bg_default_2: #282828;
$theme_w_bg_default_3: #ffffff;
$theme_w_bg_default_4: #dbeafe;

// Blue
$theme_color_blue: #2563eb;
$theme_w_bg_blue_1: #242424;
$theme_w_bg_blue_2: #333333;
$theme_w_bg_blue_3: #ffffff;
$theme_w_bg_blue_4: #eff6ff;

// Purple
$theme_color_purple: #9A57A3;
$theme_w_bg_purple_1: #242424;
$theme_w_bg_purple_2: #6d28d9;
$theme_w_bg_purple_3: #ffffff;
$theme_w_bg_purple_4: #ede9fe;

// pink
$theme_color_pink: #E55E9C;
$theme_w_bg_pink_1: #242424;
$theme_w_bg_pink_2: #be185d;
$theme_w_bg_pink_3: #ffffff;
$theme_w_bg_pink_4: #fdf2f8;

// red
$theme_color_red: #dc2626;
$theme_w_bg_red_1: #242424;
$theme_w_bg_red_2: #333333;
$theme_w_bg_red_3: #ffffff;
$theme_w_bg_red_4: #fef2f2;

// orange
$theme_color_orange: #DC5426;
$theme_w_bg_orange_1: #242424;
$theme_w_bg_orange_2: #333333;
$theme_w_bg_orange_3: #ffffff;
$theme_w_bg_orange_4: #fff4eb;

// yellow
$theme_color_yellow: #F3BA4B;
$theme_w_bg_yellow_1: #242424;
$theme_w_bg_yellow_2: #987306;
$theme_w_bg_yellow_3: #ffffff;
$theme_w_bg_yellow_4: #fffbeb;

// green
$theme_color_green: #79B757;
$theme_w_bg_green_1: #242424;
$theme_w_bg_green_2: #065f46;
$theme_w_bg_green_3: #ffffff;
$theme_w_bg_green_4: #ecfdf5;

// grey
$theme_color_grey: #8C8C8C;
$theme_w_bg_grey_1: #242424;
$theme_w_bg_grey_2: #1f2937;
$theme_w_bg_grey_3: #ffffff;
$theme_w_bg_grey_4: #f3f4f6;